name: shared
description: Shared package untuk admin_web dan karyawan_mobile
version: 1.0.0
publish_to: none

environment:
  sdk: ^3.7.0

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  flutter_riverpod: ^2.6.1
  supabase_flutter: ^2.9.1
  bcrypt: ^1.1.3
  equatable: ^2.0.7
  http: ^1.2.2
  shared_preferences: ^2.3.2
  intl: ^0.19.0
  flutter_dotenv: ^5.1.0
  image_picker: ^1.0.7

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
